name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs-version:
          - 24.5
          - 25.3
          - 26.3
          - 27.2
          - 28.2
          - 29.4
          - 30.2
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: purcell/setup-emacs@b3884972d55f850449e43be74de08f9a97aa3f34
        with:
          version: ${{ matrix.emacs-version }}
      - uses: leotaku/elisp-check@cbcda75256a9195b5e6d7e6fa39390b32e08a4f3
        with:
          file: rbs-mode.el
      - uses: leotaku/elisp-check@cbcda75256a9195b5e6d7e6fa39390b32e08a4f3
        with:
          check: ert
          file: rbs-mode-test.el
